<% include ./partials/header %> 

<!-- Page Content -->
<div class="jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About DegratiaP</h1>
    <p class="lead">Degratia P is a South African based online store that aims to provide nothing but quality. Degratia P offers the best online shopping convenience by bringing you a variety of products right under one store. Shop household, fashion, accessories and more. Degratia P online store is mobile and desktop compatible, for ease of use anywhere. With different payment options and delivery methods, Degratia P adds more value to convenient shopping.</p>
    <div class="col-lg-12">
        <h1 class="display-3">Members</h1>
    </div>
    <div>
      <img class="img-circle" src="https://media.licdn.com/dms/image/C4E03AQHpmqDf2taLBA/profile-displayphoto-shrink_200_200/0?e=1539216000&v=beta&t=j5tLzOtE9EDTVkCEONnvUlMUGXVRXMY8vuS_aPzHD60" alt="">
      <h3>Keaobaka Poti</h3>
    </div>
  </div>
</div>
<% include ./partials/footer %>