<% include ../partials/header %>

<img class="center-block" src="https://res.cloudinary.com/twa-sa/image/upload/v1537214765/alert.png"> 
   <br>
<h3 class="text-center">You cancelled the checkout process on payfast.co.za and as a result landed on this home page. </h3> <br/>
<p class="text-center"><a href="/">    Click here   </a> to go back to shopping<br></p>

<% include ../partials/footer %>