<% include ../partials/header %>

   <%//clear cart logic here%>
   <img class="center-block" src="https://res.cloudinary.com/twa-sa/image/upload/v1537213833/check.png"> 
   <br>
    <h3 class="text-center">Checkout processed successfully</h3>
    <h3 class="text-center">Thank you for shopping with DegratiaP</h3>
        
    <br>
    <p class="text-center"><a href="/">Click here </a> to shop more or to view more products</p>
    
<% include ../partials/footer %>
